<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Css/site.css" />
</head>
<body>
    <div class="main-container">
        <div class="sidebar">
            <h2>Product Optimization</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Overview")" class="@((ViewData["ActivePage"] as string == "Overview") ? "active" : "")">
                        <img src="~/images/overview-icon.png" alt="Overview Icon" class="sidebar-icon" />
                        Overview
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Production")" class="@((ViewData["ActivePage"] as string == "Production") ? "active" : "")">
                        <img src="~/images/production-icon.png" alt="Production Icon" class="sidebar-icon" />
                        Production
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Ingredients")" class="@((ViewData["ActivePage"] as string == "Ingredients") ? "active" : "")">
                        <img src="~/images/ingredients-icon.png" alt="Ingredients Icon" class="sidebar-icon" />
                        Ingredients
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Products")" class="@((ViewData["ActivePage"] as string == "Products") ? "active" : "")">
                        <img src="~/images/products-icon.png" alt="Products Icon" class="sidebar-icon" />
                        Products
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ViewResults")" class="@((ViewData["ActivePage"] as string == "ViewResults") ? "active" : "")">
                        <img src="~/images/view-result-icon.png" alt="View Results Icon" class="sidebar-icon" />
                        View Results
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
